
nav {
  background-color: #43e8ac;
  padding: 10px;
  margin: 0;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}
nav>ul>li>a {
  color: #ebfefc;
  text-decoration: none;
  font-weight: bold;
}
h1 {
  color: #db3069;
}
p {
  color: #4f6272;
}
em {
  color: #43e8ac;
}
.content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-flow: column wrap;
}
.checklist li{
  color: red;
}
li.done{
  color: green;
  text-decoration: line-through;
}

.login {
  display: block;
  width: 20%;
  margin: 0 auto;
}
form {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: start;
}

label {
  margin-bottom: 10px;
}
input {
  padding: 10px;
}